/*CUSTOM FONTS*/
@font-face {
    font-family: 'Merienda-Bold'; /*a name to be used later*/
    src: url('./custom_fonts/Merienda-Bold.ttf'); /*URL to font*/
}

/* THIS IS FOR THE SETUP PAGE */
#setupWrapper {
  margin: auto auto;
  width: 50%;
  height: 50%;
  margin-top: 5%;
}

.badge-success {
  background-color: green!important;
}

.badge-failed {
  background-color: red!important;
}

/* THIS IS FOR THE HOME PAGE */
.topHeaderBar {
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1c1c1c, #2e2e2e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1c1c1c, #2e2e2e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1c1c1c, #2e2e2e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1c1c1c, #2e2e2e); /* Standard syntax */
  height: 35px;
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0px 5px 10px #000000;
  z-index: 2;
}

#menu {
  color: #ffffff;
}

.headerMidBar {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  height: 180px;
  width: 100%;
  z-index: 1;
  position: relative;
  top: 0px;
}

.siteTitle {
  font-size: 45px;
  color: #ffffff;
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 75px;
  width: 100%;
  text-align: center;
  font-family: 'Merienda-Bold';
  text-shadow: 2px 2px rgba(141,67,3, 0.8);
}
